<main>
  <h3>My projects</h3>
  <ul class="projects-list">
    <li>
      <mat-card>
        <mat-card-content>
          <img src="../../../../assets/images/pm-app.png" alt="Project management app">
          <div class="project-information">
            <mat-card-title>Project management app</mat-card-title>
            <mat-card-subtitle>
              <ul class="card-subtitle">
                <li>HTML</li>
                <li>SCSS</li>
                <li>Angular</li>
              </ul>
            </mat-card-subtitle>
            <div>
              <p>
                "Project management app" is a single page Angular app. <br>
                With help of this app users can:
              </p>
              <ul class="project-features">
                <li>Initiate projects</li>
                <li>Incorporate tasks</li>
                <li>Administer their progression</li>
                <li>Edit tasks and projects</li>
              </ul>
            </div>
            <div class="project-links">
              <a href="https://pm-app-bea50.web.app/" mat-button>Demo</a>
              <a href="https://github.com/EkaterinaMash/Project-management-system/tree/project-management-app" mat-button>GitHub</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card>
        <mat-card-content>
          <img src="../../../../assets/images/english-for-kids.png" alt="English for kids">
          <div>
            <div class="project-information">
              <mat-card-title>English for kids</mat-card-title>
              <mat-card-subtitle>
                <ul class="card-subtitle">
                  <li>HTML</li>
                  <li>SCSS</li>
                  <li>JavaScript</li>
                </ul>
              </mat-card-subtitle>
              <p>
                "English for Kids" is a single-page app designed for learning English. <br>
                It consists of three dynamic sections and two modes:
              </p>
              <ul class="project-features">
                <li>Main page: Featuring word categories.</li>
                <li>Category pages: Showcasing specific word groups.</li>
                <li>Statistic page: Tracking user progress.</li>
                <li>Train mode: For word exploration.</li>
                <li>Game mode: For guessing words.</li>
              </ul>
            </div>
            <div class="project-links">
              <a href="https://englishh.netlify.app/" mat-button>Demo</a>
              <a href="https://github.com/EkaterinaMash/English-for-kids" mat-button>GitHub</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card>
        <mat-card-content>
          <img src="../../../../assets/images/shelter.png" alt="Shelter">
          <div class="project-information">
            <mat-card-title>The Shelter</mat-card-title>
            <mat-card-subtitle>
              <ul class="card-subtitle">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
            </mat-card-subtitle>
            <div>
              <p>
                The Shelter is a two page JavaScript app. <br>
                It includes:
              </p>
              <ul class="project-features">
                <li>Main information about homeless pets.</li>
                <li>List of pets that users can browse through.</li>
                <li>Information about ways to help the pets.</li>
              </ul>
              <p>The main purpose of the project was to learn proper navigation implementation and adaptive layout design.</p>
            </div>
            <div class="project-links">
              <a href="https://ekaterinamash.github.io/Shelter/pages/main/index.html" mat-button>Demo</a>
              <a href="https://github.com/EkaterinaMash/Shelter" mat-button>GitHub</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</main>
