<main>
  <h3>My projects</h3>
  <ul>
    <li>
      <mat-card>
        <mat-card-title>The Shelter</mat-card-title>
        <mat-card-content>
          <img src="" alt="">
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card>
        <mat-card-title>English for kids</mat-card-title>
        <mat-card-content>
          <img src="" alt="">
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card>
        <mat-card-title>The Bookshop</mat-card-title>
        <mat-card-content>
          <img src="" alt="">
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</main>
